footer.l-footer
  div.l-footer__content-wrapper
    div.l-footer_company-info
      p.l-footer_company-name 株式会社サードスコープ
      p.l-footer_company-address--jp 〒150-0002 東京都渋谷区渋谷1-1-11 青山SIビル3階
      p.l-footer_company-address--en U-natura 9F,6-19-16 jingumae,Shibuya-ku, Tokyo 150-0001
      p.l-footer_company-map 
        a(href="https://www.google.co.jp/maps/place/株式会社サードスコープ/@35.6611282,139.7065944,15z/data=!4m2!3m1!1s0x0:0xfdcb51297405e7b1?sa=X&ved=1t:2428&ictx=111").l-footer_company-map-link Google Map
    div.l-foorer_go-to-top 
      a(href="#top") 
        img.l-foorer_go-to-top-img(src="/assets/images/top-page.svg" alt="")
  div.l-footer_menu-wrapper
      div.l-footer_copyright &copy; Third Scope Inc.
      div.l-footer_menu
        li.l-footer_menu-item
          a.l-footer_menu-item-link(href="")   採用情報
        li.l-footer_menu-item
          a.l-footer_menu-item-link(href="")  サイトマップ
        li.l-footer_menu-item 
          a.l-footer_menu-item-link(href="") プライバシーポリシー


