
header
  div.l-header
    div.l-header__content
      div.l-header__company
        div.l-header__company-logo
          img.l-header__company-logo-img(src="/assets/images/company-logo.svg")
      div.l-header__nav-wrapper
        div.l-header__nav
          div.l-header__nav-text-wrapper
            a.l-header__nav-text(href="/") サードスコープについて
          //- div.l-header__nav-text-wrapper
          //-   a.l-header__nav-text(href="/") IT導入補助金2024概要
          div.l-header__nav-icon.l-header__nav-text-wrapper
            a.l-header__nav-text(href="/") 人材開支援助成金について
    div.l-header__contact
      a.l-header__contact-text(href="/") お問い合わせ
          //- sp
    div.l-header__sp-content 
      div.l-header__sp-content-contact
        a.l-header__sp-content-contact-link(href="") 
      div.l-header__sp-content-hamburger-menu


